/* Hacks */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#scope
{
}

/* Layout */
html
{
	width: 100%;
	height: 100%;
}
body
{
	background: #eee;
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	font-family: Andale Mono;
	width: 100%;
	height: 100%;
}
#canvas-wrap
{
	width: 100%;
	height: 100%;
}

ul#modules
{
	position: absolute;
	top: 0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	z-index: 10;
}

ul#modules li
{
	color: #bbecbb;
	background: #222;
	padding: 4px 7px;
	display: inline-block;
	margin: 0px 5px 5px 0px;
	border: 1px solid #777;
	cursor: pointer;
	font-size: 7px;
	width: 40px;
	height: 40px;
	overflow: hidden;

	-webkit-border-radius: 40px;
	draggable: true;
	transition: 0.5s opacity ease-in-out;
	transition: 0.2s border-color ease-in-out;
	transition: 0.2s background ease-in-out;
}
	
	ul#modules li:hover
	{
		border-color: #999;
		background: #333;
		transition: 0.2s border-color ease-in-out;
		transition: 0.2s background ease-in-out;
	}

	ul#modules li.playing
	{
		opacity: 0.6;
		transition: 0.5s opacity ease-in-out;
	}

ul li:hover
{

}

#sm-container
{
	visibility: hidden;
}